IO_LOC "le_n"     73;
IO_LOC "ph"     74;
IO_LOC "bl"     75;
IO_LOC "q[0]"     27;
IO_LOC "q[1]"     28;
IO_LOC "q[2]"     25;
IO_LOC "q[3]"     26;
IO_LOC "q[4]"     29;
IO_LOC "q[5]"     30;
IO_LOC "q[6]"     31;
IO_LOC "q[7]"     15;
IO_LOC "d[0]"     16;
IO_LOC "d[1]"     17;
IO_LOC "d[2]"    18;
IO_LOC "d[3]"    19;

IO_PORT "le_n"     IO_TYPE=LVCMOS33;
IO_PORT "ph"     IO_TYPE=LVCMOS33;
IO_PORT "bl"     IO_TYPE=LVCMOS33;
IO_PORT "q[0]"     IO_TYPE=LVCMOS33;
IO_PORT "q[1]"     IO_TYPE=LVCMOS33;
IO_PORT "q[2]"     IO_TYPE=LVCMOS33;
IO_PORT "q[3]"     IO_TYPE=LVCMOS33;
IO_PORT "q[4]"     IO_TYPE=LVCMOS33;
IO_PORT "q[5]"     IO_TYPE=LVCMOS33;
IO_PORT "q[6]"     IO_TYPE=LVCMOS33;
IO_PORT "d[0]"     IO_TYPE=LVCMOS33;
IO_PORT "d[1]"     IO_TYPE=LVCMOS33;
IO_PORT "d[2]"     IO_TYPE=LVCMOS33;
IO_PORT "d[3]"     IO_TYPE=LVCMOS33;
