IO_LOC "clk" 10;
IO_LOC "mosi" 76;
IO_LOC "miso" 75;
IO_LOC "spi_clk" 13;
IO_LOC "cs" 86;


IO_PORT "clk"     IO_TYPE=LVCMOS33;
IO_PORT "mosi"     IO_TYPE=LVCMOS33;
IO_PORT "miso"     IO_TYPE=LVCMOS33;
IO_PORT "spi_clk"     IO_TYPE=LVCMOS33;
IO_PORT "cs"     IO_TYPE=LVCMOS33;
