!*.vhd
!*.ucf
*/*/isim/
*/*/iseconfig/
*/*/xst/
*/*/_ngo/
*.pcf
*.ini
*.prj
*.xst
*.stx
*.txt
*.ncd
*.mrp
*.map
*.xwbt
*.ut
*.unroutes
*.twr
*.syr
*.prm
*.mcs
*.lso
*.drc
*.cmd_log
*.cfi
*.bld
*.bgn
*.cmd
*.xsl
*.tcl
*.ngm
*.ngd
*.ngc
*.bit
*.sig
*.exe
*.log
*.xml
*.xrpt
*.twx
*.ptwx
*.gise
*.xmsgs
*.wdb
*.html
*.csv
*.ipf
*.ref
*.vho
*.xbcd
*.jou
*.ppr
*.vdb
*.xreport
*.par
*.pad
*.ngr
*.xpi
*.vcd
