IO_LOC "BOARDCLK" 4;

IO_LOC "BTN_S1" 88;
IO_LOC "BTN_S2" 87;

IO_LOC "IOT40A"	73;
IO_LOC "IOT40B"	72;
IO_LOC "IOT34B"	74;
IO_LOC "IOT34A"	75;
IO_LOC "IOT30B"	76; //GCLKC_1
IO_LOC "IOT4A"	86;
IO_LOC "IOT44A"	71;

IO_LOC "SDIO_D1" 85;
IO_LOC "SDIO_D2" 80;

IO_LOC "LCD_CLK" 77;
IO_LOC "LCD_B7" 27;
IO_LOC "LCD_B6" 28;
IO_LOC "LCD_HS" 25;
IO_LOC "LCD_V6" 26;
IO_LOC "LCD_B5" 29;
IO_LOC "LCD_B4" 30;
IO_LOC "LCD_B3" 31;
IO_LOC "LCD_R3" 42;
IO_LOC "LCD_R4" 41;
IO_LOC "LCD_DE" 48;
IO_LOC "LCD_BL" 49;

IO_LOC "LEDS[0]" 15;
IO_LOC "LEDS[1]" 16;
IO_LOC "LEDS[2]" 17;
IO_LOC "LEDS[3]" 18;
IO_LOC "LEDS[4]" 19;
IO_LOC "LEDS[5]" 20;


IO_LOC "I2S_BCLK" 56;
IO_LOC "I2S_DIN" 54;
IO_LOC "PA_EN" 51;
IO_LOC "I2S_LRCK" 55;

IO_LOC "2812_DIN" 79;

IO_LOC "EDID_CLK" 53;
IO_LOC "EDID_DAT" 52;


