IO_LOC "clk"     4;
IO_LOC "rst"     74;
IO_LOC "inhibit"     75;
IO_LOC "disp_en_in"     15;
IO_LOC "disp_en_out"     16;
IO_LOC "segments[0]"     27;
IO_LOC "segments[1]"     28;
IO_LOC "segments[2]"     25;
IO_LOC "segments[3]"     26;
IO_LOC "segments[4]"     29;
IO_LOC "segments[5]"     30;
IO_LOC "segments[6]"     31;
IO_LOC "carry"     17;
IO_LOC "ung_c"     20;


IO_PORT "clk"     IO_TYPE=LVCMOS33;
IO_PORT "rst"     IO_TYPE=LVCMOS33;
IO_PORT "inhibit"     IO_TYPE=LVCMOS33;
IO_PORT "disp_en_in"     IO_TYPE=LVCMOS33;
IO_PORT "disp_en_out"     IO_TYPE=LVCMOS33;
IO_PORT "segments[0]"     IO_TYPE=LVCMOS33;
IO_PORT "segments[1]"     IO_TYPE=LVCMOS33;
IO_PORT "segments[2]"     IO_TYPE=LVCMOS33;
IO_PORT "segments[3]"     IO_TYPE=LVCMOS33;
IO_PORT "segments[4]"     IO_TYPE=LVCMOS33;
IO_PORT "segments[5]"     IO_TYPE=LVCMOS33;
IO_PORT "segments[6]"     IO_TYPE=LVCMOS33;
IO_PORT "carry"     IO_TYPE=LVCMOS33;
IO_PORT "ung_c"     IO_TYPE=LVCMOS33;
