IO_LOC "clk"     4;
IO_LOC "up_n_down"     73;
IO_LOC "ce_n" 74;
IO_LOC "din[0]"     26;
IO_LOC "din[1]"     29;
IO_LOC "din[2]"     30;
IO_LOC "din[3]"     31;
IO_LOC "dout[0]"     15;
IO_LOC "dout[1]"     16;
IO_LOC "dout[2]"     17;
IO_LOC "dout[3]"     18;
IO_LOC "pl_n"     19;
IO_LOC "tc"     20;
IO_LOC "rc_n" 75;

IO_PORT "clk"     IO_TYPE=LVCMOS33;
IO_PORT "up_n_down"     IO_TYPE=LVCMOS33;
IO_PORT "ce_n"     IO_TYPE=LVCMOS33;
IO_PORT "din[0]"     IO_TYPE=LVCMOS33;
IO_PORT "din[1]"     IO_TYPE=LVCMOS33;
IO_PORT "din[2]"     IO_TYPE=LVCMOS33;
IO_PORT "din[3]"     IO_TYPE=LVCMOS33;
IO_PORT "dout[0]"     IO_TYPE=LVCMOS33;
IO_PORT "dout[1]"     IO_TYPE=LVCMOS33;
IO_PORT "dout[2]"     IO_TYPE=LVCMOS33;
IO_PORT "dout[3]"     IO_TYPE=LVCMOS33;
IO_PORT "pl_n"     IO_TYPE=LVCMOS33;
IO_PORT "tc"     IO_TYPE=LVCMOS33;
IO_PORT "rc_n"     IO_TYPE=LVCMOS33;
