IO_LOC "clk"     4;
IO_LOC "rst"     5;
IO_LOC "inhibit"     6;
IO_LOC "preset"     7;
IO_LOC "carry_in"     8;
IO_LOC "p[0]"     9;
IO_LOC "p[1]"     10;
IO_LOC "p[2]"     11;
IO_LOC "p[3]"     12;
IO_LOC "q[0]"     13;
IO_LOC "q[1]"     14;
IO_LOC "q[2]"     15;
IO_LOC "q[3]"     16;
IO_LOC "tc"     17;

IO_PORT "clk"   IO_TYPE=LVCMOS33;
IO_PORT "rst"   IO_TYPE=LVCMOS33;
IO_PORT "inhibit"   IO_TYPE=LVCMOS33;
IO_PORT "preset"   IO_TYPE=LVCMOS33;
IO_PORT "carry_in"   IO_TYPE=LVCMOS33;
IO_PORT "p[0]"   IO_TYPE=LVCMOS33;
IO_PORT "p[1]"   IO_TYPE=LVCMOS33;
IO_PORT "p[2]"   IO_TYPE=LVCMOS33;
IO_PORT "p[3]"   IO_TYPE=LVCMOS33;
IO_PORT "q[0]"   IO_TYPE=LVCMOS33;
IO_PORT "q[1]"   IO_TYPE=LVCMOS33;
IO_PORT "q[2]"   IO_TYPE=LVCMOS33;
IO_PORT "q[3]"   IO_TYPE=LVCMOS33;
IO_PORT "tc"   IO_TYPE=LVCMOS33;
