IO_LOC "clkin"     4;
IO_PORT "clkin"     IO_TYPE=LVCMOS33;

IO_LOC "clkout"     42;
IO_PORT "clkout"     IO_TYPE=LVCMOS33;
IO_LOC "clkoutd"     41;
IO_PORT "clkoutd"     IO_TYPE=LVCMOS33;


IO_LOC "lock"     15;
IO_PORT "lock"     IO_TYPE=LVCMOS33;

IO_LOC "reset"     73;
IO_PORT "reset"     IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
