IO_LOC "clk"     4;
IO_LOC "bindec"     27;
IO_LOC "updown"     28;
IO_LOC "preset_en"     25;
IO_LOC "carry_in"     26;
IO_LOC "jam[0]"     56;
IO_LOC "jam[1]"     54;
IO_LOC "jam[2]"     51;
IO_LOC "jam[3]"     48;
IO_LOC "output[0]"     15;
IO_LOC "output[1]"     16;
IO_LOC "output[2]"     17;
IO_LOC "output[3]"     18;
IO_LOC "carry_out"     19;

IO_PORT "clk"     IO_TYPE=LVCMOS33;
IO_PORT "bindec"     IO_TYPE=LVCMOS33;
IO_PORT "updown"     IO_TYPE=LVCMOS33;
IO_PORT "preset_en"     IO_TYPE=LVCMOS33;
IO_PORT "carry_in"     IO_TYPE=LVCMOS33;
IO_PORT "jam[0]"     IO_TYPE=LVCMOS33;
IO_PORT "jam[1]"     IO_TYPE=LVCMOS33;
IO_PORT "jam[2]"     IO_TYPE=LVCMOS33;
IO_PORT "jam[3]"     IO_TYPE=LVCMOS33;
IO_PORT "output[0]"     IO_TYPE=LVCMOS33;
IO_PORT "output[1]"     IO_TYPE=LVCMOS33;
IO_PORT "output[2]"     IO_TYPE=LVCMOS33;
IO_PORT "output[3]"     IO_TYPE=LVCMOS33;
IO_PORT "carry_out"     IO_TYPE=LVCMOS33;
