IO_LOC "clk"     4;
IO_LOC "rst"     73;
IO_LOC "inhibit" 74;
IO_LOC "output[0]"     26;
IO_LOC "output[1]"     29;
IO_LOC "output[2]"     30;
IO_LOC "output[3]"     31;
IO_LOC "output[4]"     15;
IO_LOC "output[5]"     16;
IO_LOC "output[6]"     17;
IO_LOC "output[7]"     18;
IO_LOC "output[8]"     19;
IO_LOC "output[9]"     20;
IO_LOC "carry" 75;

IO_PORT "clk"     IO_TYPE=LVCMOS33;
IO_PORT "rst"     IO_TYPE=LVCMOS33;
IO_PORT "inhibit"     IO_TYPE=LVCMOS33;
IO_PORT "carry"     IO_TYPE=LVCMOS33;
IO_PORT "output[0]"     IO_TYPE=LVCMOS33;
IO_PORT "output[1]"     IO_TYPE=LVCMOS33;
IO_PORT "output[2]"     IO_TYPE=LVCMOS33;
IO_PORT "output[3]"     IO_TYPE=LVCMOS33;
IO_PORT "output[4]"     IO_TYPE=LVCMOS33;
IO_PORT "output[5]"     IO_TYPE=LVCMOS33;
IO_PORT "output[6]"     IO_TYPE=LVCMOS33;
IO_PORT "output[7]"     IO_TYPE=LVCMOS33;
IO_PORT "output[8]"     IO_TYPE=LVCMOS33;
IO_PORT "output[9]"     IO_TYPE=LVCMOS33;
